<a href="https://mirrors.cqu.edu.cn">
<svg width="206" height="58" xmlns="http://www.w3.org/2000/svg" >
 <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->

 <g>
  <title>background</title>
  <rect x="-1" y="-1" width="208" height="60" id="canvas_background" fill="none"/>
  <g id="canvasGrid" display="none">
   <rect id="svg_1" width="100%" height="100%" x="0" y="0" stroke-width="0" fill="url(#gridpattern)"/>
  </g>
 </g>
 <g>
  <title>镜像站使用帮助</title>
  <text fill="#000000" stroke-width="0" x="790.5" y="76.5" id="svg_2" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" transform="matrix(7.4668989181518555,0,0,1,-5199.083594307303,0) " stroke="#000"/>
  <text stroke="#000" transform="matrix(0.43927159905433655,0,0,0.43927159905433655,108.21182000124827,25.22401666129008) " fill="#ffffff" stroke-width="0" stroke-opacity="null" x="16.96811" y="65.99165" id="svg_5" font-size="24" font-family="'Simonetta', serif" text-anchor="start" xml:space="preserve" font-weight="bold">by LANUNION</text>
  <text stroke="#000" transform="matrix(1.266006744411322,0,0,1.266006744411322,-0.44822070261986013,-2.168536025768585) " xml:space="preserve" text-anchor="start" font-family="'Simonetta', serif" font-size="24" id="svg_4" y="26.92211" x="3.31868" stroke-width="0" fill="#ffffff">镜像使用指南</text>
 </g>
</svg>
</a>
