<!--<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>-->
<script async src="//cdn.jsdelivr.net/npm/busuanzi@2.3.0"></script>
<span id="busuanzi_container_site_pv"><center>本站总访问量<span id="busuanzi_value_site_pv"></span>次</span></center>
<center><p>Maintained by <a href="https://github.com/cqumirror"><b>LANUNION Operation and Maintenance team</b></a></p></center>
<script type="text/javascript">
    var newYear = new Date().getFullYear();
    document.write("<center><p>Lanunion of Chongqing University ( 2011 - "+newYear+" )")
</script>
<center><p>All Rights Reserved</p></center>
